.grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.1); 
}
.impact-card {
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}
.impact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.navbar, .footer {
  background-color: #003049;
}
.text-white {
  color: #fdf0d5 !important;
}
.text-primary {
  color: #003049 !important;
}

/* Hover on the SVG itself */
.state-bg-image:hover {
  filter: drop-shadow(0 0 5px #003049); /* Only drop shadow on hover */
  opacity: 1;
  transform: scale(1.2);
}